{% load static %}
<!DOCTYPE html>
<html lang="zxx">

    <head>
        <title>Fashion Hub</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8" />
        <meta name="keywords" content="Fashion Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
        SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
        <script>
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);

            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static '/css/shop/bootstrap.css' %}"  media="all">
        <link rel="stylesheet" type="text/css" href="{% static '/css/shop/shop.css' %}"  media="all">
        <link rel="stylesheet" type="text/css" href="{% static '/css/shop/owl.carousel.min.css' %}"  media="all">
        <link rel="stylesheet" type="text/css" href="{% static '/css/shop/style.css' %}"  media="all">
        <link rel="stylesheet" type="text/css" href="{% static '/css/shop/fontawesome-all.min.css' %}"  media="all">
        <link rel="stylesheet" type="text/css" href="{% static '/css/shop/flexslider.css' %}"  media="all">
        <link rel="stylesheet" type="text/css" href="{% static '/css/shop/checkout.css' %}"  media="all">
        <link rel="stylesheet" type="text/css" href="{% static '/css/shop/easy-responsive-tabs.css' %}"  media="all">
        <link rel="stylesheet" type="text/css" href="{% static '/css/shop/creditly.css' %}"  media="all">
        <link href="//fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    </head>

    <body>
        <!-- header -->
        <header>
            <div class="container">
                <!-- top nav -->
                <nav class="top_nav d-flex pt-3 pb-1">
                    <!-- logo -->
                    <h1>
                        <a class="navbar-brand" href="{% url 'home'  %}">fh
                        </a>
                    </h1>
                    <div class="input-group flex-column">
                        <form id="search-form" class="form-inline">
                            {% csrf_token %}
                            <div id="search-autocomplete">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search for products here" id="search-input" aria-label="Search">
                            </div>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                        <div id="results-box" class="results-card invisible position-absolute top-100 start-0"></div>
                    </div>
                    <!-- //logo -->
                    
                    <div class="w3ls_right_nav ml-auto d-flex">
                        <!-- search form -->
                        <!-- search form -->
                        <div class="nav-icon d-flex">
                            <!-- sigin and sign up -->
                            <a class="btn top_hub_cart mx-4 position-relative" href="{%  url 'cart' %}">
                                <i class="fas fa-shopping-bag"></i>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    {% if not request.session.cart_item %} 0 {% else %} {{ request.session.cart_item }} {% endif %}
                                </span>
                            </a>
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_staff %}
                                    <a class="text-dark login_btn align-self-center mx-3" href="{% url 'admin_dash' %}">
                                        <i class="far fa-user"></i>
                                    </a>
                                {% else %}
                                    <a href="{% url 'logout' %}" class="btn btn-danger rounded">Logout</a>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'login' %}" class="btn btn-primary rounded">Login</a>
                            {% endif %}
                            <!-- sigin and sign up -->
                            <!-- shopping cart -->
                    
                            <!-- //shopping cart ends here -->
                        </div>
                    </div>
                </nav>
                <!-- //top nav -->
                <!-- bottom nav -->
                <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto text-center">
                            <li class="nav-item">
                                <a class="nav-link {% if request.resolver_match.url_name == 'home' %} active  {% endif %}" href="{% url 'home'  %}">Home
                                </a>
                            </li>
                            {% for main_category in main_categories %}
                                <li class="nav-item dropdown has-mega-menu" style="position:static;">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{%  url 'product_list' main_category.slug %}" role="button" aria-haspopup="true" aria-expanded="false">{{ main_category.name }}</a>
                                    <div class="dropdown-menu" style="width:100%">
                                        <div class="px-0 container">
                                            <div class="row w3_kids">
                                                {% for category in main_category.children.all %}
                                                    {% if category.children.all.count != 0 %}
                                                        <div class="col-md-6">
                                                            <span><a class="dropdown-item" href="{%  url 'product_list' category.slug %}">{{ category.name }}</a></span>
                                                            {% for sub_category in category.children.all %}
                                                                <a class="dropdown-item" href="{%  url 'product_list' sub_category.slug %}">{{ sub_category.name }}</a>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        <div class="col-md-4">
                                                            <a class="dropdown-item" href="{%  url 'product_list' category.slug %}">{{ category.name }}</a>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                            {% if request.user.is_authenticated %}
                                <div class="btn-group">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">My Account</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{%  url 'my_orders' %}">My Orders</a>
                                    </div>
                                </div>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
                <!-- //bottom nav -->
            </div>
            <!-- //header container -->
        </header>
        <!-- //header -->
        {% block content %}{% endblock content %}
       
        <!-- footer -->
        <footer>
            <div class="footerv2-w3ls">
                <div class="footer-w3lagile-innerr">
                    <!-- footer-top -->
                    <div class="container-fluid">
                        <div class="row  footer-v2grids w3-agileits">
                            <!-- services -->
                            <div class="col-lg-4 col-sm-6 footer-v2grid">
                                <h4>Support</h4>
                                <ul>
                                    <li>
                                        <a href="payment.html">Payment</a>
                                    </li>
                                    <li>
                                        <a href="#">Shipping</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- //services -->
                            <!-- latest posts -->
                            
                            <!-- //latest posts -->
                            <!-- locations -->
                            <div class="col-lg-4 col-sm-6 footer-v2grid my-lg-0 my-5">
                                <h4>office locations</h4>
                                <ul>
                                    <li>
                                        <a href="#">New Wells</a>
                                    </li>
                                    <li>
                                        <a href="#">texas</a>
                                    </li>
                                    <li>
                                        <a href="#">michigan</a>
                                    </li>
                                    <li>
                                        <a href="#">India</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- //locations -->
                            <!-- flickr posts -->
                            <div class="col-lg-4 col-sm-6 footer-v2grid my-lg-0 my-sm-5">
                                <h4 class="b-log">
                                    Contact Details
                                </h4>
                                <ul>
                                    <li>
                                        <a href="#">+91 7907746852</a>
                                    </li>
                                    <li>
                                        <a href="#">harikrishnansr007@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    <!-- //footer-top -->
                    
                </div>
                <div class="container-fluid py-5 footer-copy_w3ls">
                    <div class="d-lg-flex justify-content-between">
                        <div class="mt-2 sub-some align-self-lg-center">
                            <h5>Payment Method</h5>
                            <ul class="mt-4">
                                <li class="list-inline-item">
                                    <img src="images/pay2.png" alt="">
                                </li>
                                <li class="list-inline-item">
                                    <img src="images/pay5.png" alt="">
                                </li>
                                <li class="list-inline-item">
                                    <img src="images/pay3.png" alt="">
                                </li>
                                <li class="list-inline-item">
                                    <img src="images/pay7.png" alt="">
                                </li>
                                <li class="list-inline-item">
                                    <img src="images/pay8.png" alt="">
                                </li>
                                <li class="list-inline-item ">
                                    <img src="images/pay9.png" alt="">
                                </li>
                            </ul>
                        </div>
                        <div class="cpy-right align-self-center">
                            <h2 class="agile_btxt">
                                <a href="index.html">
                                    <span>f</span>ashion
                                    <span>h</span>ub</a>
                            </h2>
                            <p>© 2022 Fashion Hub. All rights reserved | Design by
                                <a href="#" class="text-secondary"> Harikrishnan.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //footer -->
        
        <script src="{% static 'js/shop/jquery-2.2.3.min.js' %}"></script>

        {% block scripts%} {% endblock scripts%}

        <script src="{% static 'js/shop/payment.js' %}"></script>

        <script>
            $(document).ready(function () {
                $('ul li.dropdown').hover(function () {
                    $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
                }, function () {
                    $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
                });
            });
        </script>
        
        <script>
            $(document).ready(function () {
                console.log("haasssssssssssssi");
                const basicAutocomplete = document.querySelector('#search-autocomplete');
                const data = ['One', 'Two', 'Three', 'Four', 'Five'];
                const dataFilter = (value) => {
                return data.filter((item) => {
                    return item.toLowerCase().startsWith(value.toLowerCase());
                });
                };

                new mdb.Autocomplete(basicAutocomplete, {
                filter: dataFilter
                });
            })

        </script>

        
        
        <script>
            // You can also use "$(window).load(function() {"
            $(function () {
                // Slideshow 4
                $("#slider3").responsiveSlides({
                    auto: false,
                    pager: true,
                    nav: false,
                    speed: 500,
                    namespace: "callbacks",
                    before: function () {
                        $('.events').append("<li>before event fired.</li>");
                    },
                    after: function () {
                        $('.events').append("<li>after event fired.</li>");
                    }
                });

            });
        </script>

       
        <script>
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                items: 4,
                loop: false,
                margin: 10,
                autoplay: false,
                autoplayTimeout: 5000,
                autoplayHoverPause: false,
                responsive: {
                    320: {
                        items: 1,
                    },
                    568: {
                        items: 2,
                    },
                    991: {
                        items: 3,
                    },
                    1050: {
                        items: 4
                    }
                }
            });
        </script>

        

        <script>
            hub.render();

            hub.cart.on('new_checkout', function (evt) {
                var items, len, i;

                if (this.subtotal() > 0) {
                    items = this.items();

                    for (i = 0, len = items.length; i < len; i++) {}
                }
            });
        </script>

        

        <script>
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();

                    $('html,body').animate({
                        scrollTop: $(this.hash).offset().top
                    }, 1000);
                });
            });
        </script>

        <script src="{% static 'js/shop/jquery.flexslider.js' %}"></script>
        <script>
            // Can also be used with $(document).ready()
            $(window).load(function () {
                $('.flexslider1').flexslider({
                    animation: "slide",
                    controlNav: "thumbnails"
                });
            });
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'js/shop/responsiveslides.min.js' %}"></script>
        <script src="{% static 'js/shop/owl.carousel.js' %}"></script>
        <script src="{% static 'js/shop/minicart.js' %}"></script>
        <script src="{% static 'js/shop/move-top.js' %}"></script>
        <script src="{% static 'js/shop/easing.js' %}"></script>
        <script src="{% static 'js/shop/SmoothScroll.min.js' %}"></script>
        <script src="{% static 'js/shop/bootstrap.js' %}"></script>
        <script src="{% static 'js/shop/easy-responsive-tabs.js' %}"></script>
        <script src="{% static 'js/shop/cart.js' %}"></script>
        <script src="{% static 'js/shop/main.js' %}"></script>

    <!-- smooth dropdown -->
    <script>
        $(document).ready(function () {
            $('ul li.dropdown').hover(function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
            }, function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
            });
        });
    </script>

    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
            document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
            document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>

    <script>
        hub.render();

        hub.cart.on('new_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {}
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion           
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
        });
    </script>



    <script>
        $(function () {
            var creditly = Creditly.initialize(
                '.creditly-wrapper .expiration-month-and-year',
                '.creditly-wrapper .credit-card-number',
                '.creditly-wrapper .security-code',
                '.creditly-wrapper .card-type');

            $(".creditly-card-form .submit").click(function (e) {
                e.preventDefault();
                var output = creditly.validate();
                if (output) {
                    // Your validated credit card output
                    console.log(output);
                }
            });
        });
    </script>

    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>

    </body>

</html>