
    <!-- Sidebar -->
    <nav id="sidebar">
        ...
        <div class="list-group list-group-flush my-3">
            <a href="" class="list-group-item list-group-item-action bg-transparent second-text {% if request.resolver_match.url_name == 'admin_dash' %} active {% else %} fw-bold {% endif %}"><i class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="" class="list-group-item list-group-item-action bg-transparent second-text {% if request.resolver_match.url_name == 'category_list' %} active {% else %} fw-bold {% endif %}"><i class="fas fa-project-diagram me-2"></i>Category</a>
            <a href="" class="list-group-item list-group-item-action bg-transparent second-text {% if request.resolver_match.url_name == 'product_list' %} active {% else %} fw-bold {% endif %}"><i class="fas fa-gift me-2"></i>Products</a>
            <a href="" class="list-group-item list-group-item-action bg-transparent second-text {% if request.resolver_match.url_name == 'customer_list' %} active {% else %} fw-bold {% endif %}"><i class="fas fa-paperclip me-2"></i>Customers</a>
            <a href="" class="list-group-item list-group-item-action bg-transparent second-text {% if request.resolver_match.url_name == 'order_list' %} active {% else %} fw-bold {% endif %}"><i class="fas fa-shopping-cart me-2"></i>Sales</a>
            <a href="" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i class="fas fa-power-off me-2"></i>Logout</a>
        </div>
    </nav>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->